* {
  margin: 0;
  box-sizing: border-box;
}

.container-background {
  position: relative;
  text-align: center;
}

/* Centered text: Discover Tokyo */
.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;
  background: rgba(240, 63, 18, 0.4);
}

.img-background {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .centered {
    width: 140px;
    height: 50px;
  }
  .centered h1 {
    font-size: 0.8rem;
    margin-top: -5px;
  }
}

/* SECTION PLACES - THINGS TO DO */
.card {
  width: 18rem;
}

.title-cards {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.img-places {
  height: 180px;
}

.title-places {
  font-weight: bold !important;
  text-align: center;
}

.text-places {
  font-size: 0.9rem;
  text-align: justify;
  height: 140px;
}

.card-deck {
  font-size: calc(10px + 2vmin);
}

#things-to-do {
  margin-bottom: 40px;
}

@media screen and (max-width: 800px) {
  .card-deck {
    margin: auto !important;
  }

  .card {
    width: 100%;
    padding: 10px;
  }
}

/* SECTION FOOTER */
.footer {
  text-align: left;
  padding: 2rem;
  background-color: #000000;
  /* background-color: #26272b; */
  color: white;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links a {
  color: #777777;
  font-size: 15px;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: white;
  text-decoration: none;
}

.footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

@media (max-width: 991px) {
  .footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-bottom: 0;
  }

  .footer .copyright-text,
  .footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.title-links {
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.envelope:hover {
  background-color: #00b661;
}

.social-icons a.instagram:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.icons-container {
  justify-content: center;
  margin-bottom: 40px;
}

.copyright-row {
  justify-content: center;
}

.copyright-text {
  font-size: 0.8rem;
}
